* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.container {
    border: 10px double red;
    font-size: 1.5rem;
    /* margin-top: 1.5em;
    margin-bottom: 2em;
    margin-right: 2em; */
    /* margin-left: 2em; */
    /* margin: 1.5em 2em 3em 4em; */
    margin: 1.5em;
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: 5px;
}
.circle {
    margin: 3rem auto;
    background-color: rgb(243, 163, 244);
    width: 100px;
    height: 100px;
    border: 2px solid #e76bb5;
    border-radius: 50px;
    outline: 2px solid rgb(113, 6, 121);
    outline-offset: 0.25rem;
}
